@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>Hello I'm Ioana (stnr 20236439) and this is my try to App Services within Azure</h1>
    <p class="lead">Example .NET app to Azure App Service for CE410 HW2.</p>
</div>
